aiohttp==3.7.4.post0
anyio==3.3.2
async-timeout==3.0.1
asyncclick==7.1.2.3
attrs==21.2.0
autocorrect==2.5.0
cached-property==1.5.2
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.1
discord==1.7.3
discord.py==1.7.3
finnhub-python==2.4.10
Flask==2.0.1
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.8.1
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
multidict==5.1.0
nomics-python==3.2.0
platformdirs==2.3.0
PyJWT==2.3.0
python-kasa==0.4.0.dev5
pytz==2021.1
requests==2.27.1
requests-file==1.5.1
requests-toolbelt==0.9.1
six==1.16.0
sniffio==1.2.0
studentvue==2.0.5
synergyvue==0.0.3
tqdm==4.62.3
twilio==7.8.1
typing-extensions==3.10.0.0
urllib3==1.26.8
Werkzeug==2.0.1
xmljson==0.2.1
yarl==1.6.3
zeep==4.1.0
zipp==3.5.0
